body{
    background-color: black;
    color: white;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    overflow-y: hidden;
}

.main{
    position: relative;
    display: inline-flex;
    margin-top: 5%;
    flex-flow: column;
    width: 100%;
    height: 89.7vh;
    z-index: 1;
    align-items: center;
}

.beginning{
    display: flex;
    flex-flow: column;
   
}

.beginning > h2{
    align-self: center;
    font-size: 48px;
}

.beginning > h3{
    align-self: center;
    font-size: 30px;
}

.clothes{
    display: flex;
    flex-flow: column;
    margin-top: 5%;
}

.clothes > h3{
    align-self: center;
    font-size: 30px;
}


.clothes-buttons{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;
    
}

.clothes-buttons > button{
    align-self: center;
    width: 30%;
    height: 110%;
    background-color: #47A7A7;
    border: none;
    color: white;
    font-family: "Nixie One", system-ui;
    font-size: 30px;
    margin-top: 1%;
}

.home{
    margin-top: 5%;
    display: flex;
    flex-flow: column;
}

.home > h3{
    align-self: center;
    font-size: 30px;
}

.home > button{
    align-self: center;
    width: 30%;
    height: 110%;
    background-color: #47A7A7;
    border: none;
    color: white;
    font-family: "Nixie One", system-ui;
    font-size: 30px;
    margin-top: 1%;
    transform: scale(1.3);
}



@media screen and (max-width:1440px) {
    .beginning > h2{
        margin-top: 11%;
        font-size: 30px;
    }

    .beginning > h3{
        font-size: 25px;
    }

    .clothes > h3{
        font-size: 25px;
    }

    .home > h3{
        font-size: 25px;
    }

    .clothes-buttons > button{
        width: 30%;
        font-size: 25px;
    }
    .home > button{
        width: 30%;
        font-size: 25px;
    }
}

@media screen and (max-width:768px) {
    .beginning > h2{
        margin-top: 20%;
        font-size: 25px;
    }

    .beginning > h3{
        font-size: 20px;
    }

    .clothes > h3{
        font-size: 20px;
    }

    .home > h3{
        font-size: 20px;
    }

    .clothes-buttons > button{
        width: 30%;
        font-size: 20px;
    }
    .home > button{
        width: 30%;
        font-size: 20px;
    }
}


@media screen and (max-width:620px) {
    .beginning > h2{
        margin-top: 30%;
        font-size: 20px;
    }

    .beginning > h3{
        font-size: 15px;
    }

    .clothes > h3{
        font-size: 15px;
    }

    .home > h3{
        font-size: 15px;
    }

    .clothes-buttons > button{
        width: 30%;
        font-size: 15px;
    }
    .home > button{
        width: 30%;
        font-size: 15px;
    }
}

@media screen and (max-width:465px) {
    .beginning > h2{
        margin-top: 30%;
        font-size: 15px;
    }

    .beginning > h3{
        font-size: 10px;
    }

    .clothes > h3{
        font-size: 10px;
    }

    .home > h3{
        font-size: 10px;
    }

    .clothes-buttons > button{
        width: 30%;
        font-size: 10px;
    }
    .home > button{
        width: 30%;
        font-size: 10px;
    }
}