

img {
    height: 30vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.images2 {
    height: 6vh;
    width: 5vw;
    margin-left: 20%;
    background-color: #D7D9D7;
    border-radius: 50%;
    padding: 0.5%;
}

.time {
    display: flex;
    flex-direction: row;
}

#check2 {
    margin-left: 4%;
    color: #D7D9D7;
   
}

#arrow3 {
    margin-left: 6%;
}


.second {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    font-size: 2vh;
}

.second p {
    margin-left: 3%;
}

h1 {
    font-size: 5vh;
}

.middle {
    margin-top: 10%;
    font-size: 3vh;
    text-align: center;
    background-color: #D7D9D7;
    padding: 2%;
    
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    font-size: 3vh;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    font-size: 3vh;
}

#nameoncard {
    width: 50vw;
    font-size: 3vh;
}


#cardnumb {
    font-size: 2vh;
    width: 9.5vw;
}

#expodate {
    font-size: 2vh;
    width: 9.5vw;
}

#cvv {
    font-size: 3vh;
    width: 9.5vw;
}


h2 {
    font-size: 5vh;
    text-align: center;
    margin-top: 10%;
}

.column3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    font-size: 3vh;
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    font-size: 3vh;
}

.row4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    font-size: 3vh;
}

.row5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    font-size: 3vh;
}

#firstname {
    width: 50vw;
    font-size: 3vh;
}

#lastname {
    width: 50vw;
    font-size: 3vh;
}

#adress1 {
    width: 50vw;
    font-size: 3vh;
}

#adress2 {
    width: 50vw;
    font-size: 3vh;
}

#city {
    width: 21.5vw;
    font-size: 3vh;
}

#state {
    width: 21.5vw;
    font-size: 3vh;
}

#country {
    width: 18.5vw;
    font-size: 3vh;
}

#postalcode {
    width: 18.5vw;
    font-size: 3vh;
}

#phonenumber {
    width: 19.5vw;
    margin-right: 6.5%;
    font-size: 3vh;
}

.next {
    display: flex;
    background-color: #D7D9D7;
    margin-left: 47%;
    margin-top: 3%;
    height: 5vh;
    width: 10vw;
    align-items: center;
    justify-content: center;
}
  