img {
    height: 30vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}

.time p {
    background-color: gray;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    color: white;
}

.second {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    font-size: 2vh;
}

.second p {
margin-left: 3%;
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
    margin-top: 10%;
}

#firstname {
    width: 40vw;
    height: 3vh;
}

#lastname {
    width: 40vw;
    height: 3vh;
}

#adress1 {
    width: 40vw;
    height: 3vh;
}

#adress2 {
    width: 40vw;
    height:3vh;
}


.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    margin-top: 3%;
    font-size: 3vh;
}

#city {
    width: 15vw;
    margin-right: 3%;
}

#state {
    width: 15vw;
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    font-size: 3vh;
}

#country {
    width: 11.5vw;
    margin-right: 3%;
}

#postalcode {
    width: 11.5vw;
}

.row4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    font-size: 3vh;
}

#phonenumber {
    width: 9vw;
    height: 3vh;
    margin-right: 13%;
}



.next {
    height: 5vh;
width: 8vw;
font-size: 3vh;
background-color: #A5A6A4;
border: none;
border-radius: 1rem;
margin-left: -50%;
}

body > #svg {
    background-color: red;
}