img {
    height: 30vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.second {
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1%;
        font-size: 2vh;
}

.second p {
    margin-left: 3%;
}

.column2 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    justify-content: space-between;
    font-size: 4vh;
}

.row2 {
    display: flex;
    flex-wrap: row;
    margin-top: 5%;
    margin-right: 3%;
}

.cardnumb {
    margin-right: 3%;
}

.exp {
    margin-left: 15%;
}

.vvc {
    margin-left: 20%;
}
#nameoncard {
    width: 60vw;
    height: 6vh;
    font-size: 5vh;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #D7D9D7;
}


#cardnumber {
    width: 10vw;
    height: 6vh;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #D7D9D7;
    
}

#expodate {
    width: 12vw;
    height: 6vh;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #D7D9D7;

}

#cvv {
    width: 6vw;
    height: 6vh;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #D7D9D7;
    
}

.next {
margin-left: 43%;
margin-top: 9%;
height: 7vh;
width: 15vw;
font-size: 5vh;
background-color: #D7D9D7;
border: none;
border-radius: 1rem;
}


h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 5vh;
}

.img {
    width: 15vw;
    height: 15vh;
}

.imageline {
    display: flex;
    flex-direction: row;
}

.images2 {
    height: 6vh;
    width: 5vw;
    margin-left: 20%;
    background-color: #D7D9D7;
    border-radius: 50%;
    padding: 0.5%;
}

.time {
    display: flex;
    flex-direction: row;
}

#check2 {
    margin-left: 4%;
    color: #D7D9D7;
   
}

#arrow3 {
    margin-left: 6%;
}