@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: black;
    color: white;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-configure{
    position: relative;
    display: flex;
    margin-top: 10vh;

    width: 100%;
    height: 89.7vh;
    z-index: 1;
}

.car-pic-exterior{
    width: 76%;
}

.selections{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 40%;
    background-color: #1D1D1D;
    
}

.selections > h2{
    font-size:64px;
    margin-top: 3%;
    font-weight: normal;
    align-self: center;
    margin-bottom: 5%;
}

.exterior > p{
    margin-left: 5%;
    font-size: 40px;

}

.exterior > ul{
    margin-left: 5%;
    font-size: 24px;

}


canvas{
    position: absolute;
    top:10%;
    z-index: 2;
}

.interior > p{
    margin-left: 5%;
    font-size: 40px;

}

.interior > ul{
    margin-left: 5%;
    font-size: 24px;

}

hr{
    width: 85%;
}

.selections > button{
    
    width: fit-content;
    height: 7%;
    background-color: #47A7A7;
    color: white;
    border: none;
    margin-top: 5%;
    font-family: "Nixie One", system-ui;
    font-size: 26px;
    align-self: center;
}

.buttons-row{
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 7%;
    justify-content: space-evenly;
    
}

.buttons-row > button{
    /* margin-left: 35%; */
    font-family: "Nixie One", system-ui;
    width: fit-content;
    height: 100%;
    background-color: #47A7A7;
    color: white;
    border: none;
    font-size: 26px;
}

@media screen and (max-width:1440px) {
    .selections > h2{
        font-size: 37px;
    }

    .exterior > p{
        font-size: 30px;
    }

    .interior > p{
        font-size: 30px;
    }

    .selections > button{
        font-size: 18px;
    }

    .buttons-row > button{
        font-size: 18px;
    }

    li{
        font-size: 18px;
    }
}

@media screen and (max-width:1024px) {
    body{
        overflow-y: auto;

    }

    
    
    .selections{
        position: absolute;
        top:111%;
        width: 100%;
        display: flex;
    }
}


@media screen and (max-width:351px) {
    body{
        overflow-y: auto;

    }

    
    
    .selections{
        position: absolute;
        top:101vh;
        width: 101%;
        display: flex;
    }



    .selections > h2{
        font-size: 30px;
    }

    .exterior > p{
        font-size: 20px;
    }

    .interior > p{
        font-size: 20px;
    }

    .selections > button{
        font-size: 12px;
    }

    .buttons-row > button{
        font-size: 12px;
    }

    li{
        font-size: 12px;
    }
}

@media screen and (max-width:341px){
    .selections{
        top:103vh;
        width: 103%;
    }
}

@media screen and (max-width:331px){
    .selections{
        top:105vh;
        width: 105%;
    }
}

@media screen and (max-width:321px){
    .selections{
        top:107vh;
        width: 107%;
    }
}