@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Nixie One", system-ui;
    margin: 0px;
    background: #020103;
}

.hero{
    display: flex;
    flex-flow: column;
    z-index: -200;
    margin-top: 5%;
    background-image: url(../img/hero-img-placeholder.png);
    height: 89.7%;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.hero-text{
    position: absolute;
    z-index: -200;
    margin-top: 1%;
    left: 24%;
    color: white;
}

.hero-text > h3{
    font-size: 45px;
}

.hero-text > h2{
    font-size: 60px;
}


















.left-bar > svg{
    height: 35px;
    width: 35px;
}

.left-bar > svg:last-of-type{
    margin-top: 20%;
}