@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body{
    font-family: "Nixie One", system-ui;
    margin: 0px;
}


nav{
    display: flex;
    flex-flow: row;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
    top:0;
    left:0;
    max-height: 100vh;
}

.nav{
    display: inline-flex;
    width: 100%;
    background-image: linear-gradient(#444444, #020103);
    height: 10vh;
    align-items: center;
    justify-content: flex-start;
    transition: background-image 2s, width 1s, height 0.9s, opacity 0.5s;
    
}



.left-bar{
    display: flex;
    position: absolute;
    z-index: 800;
    width: 3%;
    height: 0;
    transition: height 0.9s;
    background-color: #625D5D;
    top:0%
    /* top:0; */
}

.left-bar > .left-bar-svg_group >svg{
    height: 0px;
    width: 0px;
    
}

.left-bar-svg_group{
    display: flex;
    flex-flow: column nowrap;
    transition: margin-bottom 1.6s;
    margin-bottom: 0vh;
    margin-left: -5%;
}

.left-bar > .left-bar-svg_group > svg:last-of-type{
    margin-top: 20%;
}

.pfp{
    width: 90px;
    height: 90px;
    transition: width 1s, height 1s;
    margin-left: 4%;
    order: 2;
}

#exit_nav{
    cursor: pointer;
    
}

.hamburger{
    margin-left: 0.5%;
    margin-right: 4%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: width 1s, height 1s;
}




.nav > h4{
    transition: font-size 1s;
    font-size: 50px;
    margin-right: 40%;
}

.nav > h2{
    transition: font-size 1s;
}

.nav > h2:first-of-type{
    margin-right: 1%;
    width: 10%;
}

.nav > h2:last-of-type{
    margin-right: 20%;
}

.nav:has(> .hamburger.clicked){
    /* background-color: white; */
    width: 15%;
    height: 100%;
    margin-left: 3%;
}

.hamburger.clicked{
    display: none;
}

.hamburger.clicked + h2, .hamburger.clicked ~ h2:last-of-type,  .hamburger.clicked ~ h4, .hamburger.clicked ~ svg{
    display: none;
}


.left-bar:has(+ .hamburger.clicked)  {

    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #625D5D;
    transition: height 0.9s;
    width: 3%;
    align-items: center;
    z-index: 1000000;
    /* left:0; */
}



.nav > .menu{
    position: absolute;
    display: none;
    z-index: 300;
    left: -15%;
}

.hamburger.clicked ~ .menu{
    display: flex;
    flex-flow: column;
    color: white;
    width: 15%;
    align-items: center;
    background: #4C4747;
    height: 100%;
    left: -15%;
    transition: left 1s;
    z-index: 300;
}


.hamburger.clicked ~ .menu > h2{
    font-size: 40px;
}

.hamburger.clicked ~ .menu > h3{
    font-size: 22px;
    align-self: flex-start;
    margin-left: 10%;
}







nav > .models-submenu{
    position: absolute;
    display: none;
    z-index: 100;
}

nav > .models-submenu.almost-clicked{
    display: flex;
    width: 1%;
    opacity: 0;
    
    left: 3%;
    height: 100%;

}



nav > .models-submenu.clicked{
    transition: left 1s;
    left:18%;
    display: flex;
    flex-flow: column;
    color: white;
    height: 100%;
    width: 15%;
    align-items: center;
    opacity: 1;
    background: #393737;
    transition: left 1s;
    
}

nav > .models-submenu.back{
    transition: left 1s;
    left: 3%;
    z-index: 3;
}

.models-submenu.clicked > h2{
    margin-top: 25%;
    font-size: 40px;
}
.models-submenu.clicked > h3{
    font-size: 22px;
    align-self: flex-start;
    margin-left: 10%;
}

/*  */

nav > .merch-submenu{
    position: absolute;
    display: none;
    z-index: 100;
}

nav > .merch-submenu.almost-clicked{
    display: flex;
    width: 1%;
    opacity: 0;
    left: 3%;
    height: 100%;
   
}

.nav > h4{
    color: white;
    order: 1;
}

.nav > h2{
    color: white;
    
}

.nav > h3{
    color: white;
}


nav > .merch-submenu.clicked{
    transition: left 1s;
    left:18%;
    display: flex;
    flex-flow: column;
    color: white;
    height: 100%;
    width: 15%;
    align-items: center;
    opacity: 1;
    background: #393737;
    transition: left 1s;
    /*  */
}

nav > .merch-submenu.back{
    transition: left 1s;
    left: 3%;
    z-index: 3;
}

.merch-submenu.clicked > h2{
    margin-top: 25%;
    font-size: 40px;
}
.merch-submenu.clicked > h3{
    font-size: 22px;
    align-self: flex-start;
    margin-left: 10%;
}



/*  */










nav > .models-submenu-blackwidow{
    position: absolute;
    display: none;
    
}

nav > .models-submenu-blackwidow.almost-clicked{
    display: flex;
    width: 1%;
    opacity: 0;
    left:16%;
    height: 100%;
    
}

nav > .models-submenu-blackwidow.clicked{
    transition: left 1s;
    left: 33%;
    display: flex;
    flex-flow: column;
    color: white;
    height: 100%;
    width: 17%;
    align-items: center;
    opacity: 1;
    background: #252323;
    transition: left 1s;
    z-index: 98;
}


nav > .models-submenu-blackwidow.back{
    transition: left 1s;
    left:16%;
    
}









.models-submenu-blackwidow.clicked > h2{
    margin-top: 35%;
    font-size: 40px;
}
.models-submenu-blackwidow.clicked > h3{
    font-size: 22px;
    align-self: flex-start;
    margin-left: 10%;
}

/*  */

nav > .models-submenu-nemesis{
    position: absolute;
    display: none;
    z-index: 90;
}

nav > .models-submenu-nemesis.almost-clicked{
    display: flex;
    width: 1%;
    opacity: 0;
    left:16%;
    height: 100%;
    
}

nav > .models-submenu-nemesis.clicked{
    transition: left 1s;
    left: 33%;
    display: flex;
    flex-flow: column;
    color: white;
    height: 100%;
    width: 17%;
    align-items: center;
    opacity: 1;
    background: #252323;
    transition: left 1s;
    z-index: 98;
}

nav > .models-submenu-nemesis.back{
    transition: left 1s;
    left:16%;
    
}




.models-submenu-nemesis.clicked > h2{
    margin-top: 35%;
    font-size: 40px;
}
.models-submenu-nemesis.clicked > h3{
    font-size: 22px;
    align-self: flex-start;
    margin-left: 10%;
}




nav > .models-submenu-blackwidow.models-blackwidow-back{
    transition: left 1s;
    left: 0%;
    
}


nav > .models-submenu-nemesis.models-nemesis-back{
    transition: left 1s;
    left: 0%;
    
}

nav > .merch-submenu.exit{
    transition: left 1s;
    left: -15%;
    
}

.nav > .menu.exit{
    z-index: 700;
    transition: left 1.5s;
    left: -15%;
}

nav > .models-submenu-blackwidow.exit{
    transition: left 1.2s;
    left: -17%;
}


nav > .models-submenu-nemesis.exit{
    transition: left 1.2s;
    left: -17%;
    
}

nav > .models-submenu.exit{
    transition: left 1.2s;
    left: -15%;
    
}

#logo{

}

#exit_nav{

}

@media screen and (min-width:1024px) and (max-width:1440px){
    .pfp{
        margin-right: 1%;
    }

    .models-submenu-blackwidow.clicked > h2{
        margin-left: 20%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .nav > h1{
        font-size: 30px;
    }

    .nav > h2{
        font-size: 15px;
    }
    
    .pfp{
        margin-right: 1%;
    }

    .left-bar:has(+ .hamburger.clicked){
        
        width: 4%;
    }

    .hamburger.clicked ~ .menu{
        width: 20%;
        margin-left: 1%;
    }

    nav > .models-submenu.clicked{
        width: 20%;
        margin-left: 6%;
    }

    nav > .models-submenu.back{
        transition: left 1s;
        left: -3%;
        z-index: 3;
    }

    nav > .models-submenu.exit{
        transition: left 1s;
        left: -20%;
        
    }

    nav > .models-submenu-blackwidow.clicked{
        width: 20%;
        margin-left: 11%;
    }

    nav > .models-submenu-blackwidow.clicked > h2{
        margin-left: 20%;
    }

    nav > .models-submenu-nemesis.clicked{
        width: 20%;
        margin-left: 11%;
    }

    nav > .models-submenu-nemesis.back{
        transition: left 1s;
        left:12%;
        
    }

    nav > .merch-submenu.clicked{
        width: 20%;
        margin-left: 6%;
    }

    nav > .merch-submenu.back{
        transition: left 1s;
        left: -3%;
        z-index: 3;
    }

    nav > .merch-submenu.exit{
        transition: left 1s;
        left: -20%;
        
    }
}