@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Nixie One", system-ui;
    margin: 0px;
}

nav{
    display: inline-flex;
    width: 100%;
    background: #ECECEC;
    height: 10vh;
    align-items: center;
    justify-content: flex-start;
    transition: background 2s, width 1.5s, height 1.5s;
}

.left-bar{
    display: none;
}

.pfp{
    scale: 0.6;

}


.hamburger{
    margin-left: 0.5%;
    margin-right: 4%;
    scale: 0.6;
}

nav > h1{
    font-size: 50px;
    margin-right: 40%;
}

nav > h2:first-of-type{
    margin-right: 1%;
    width: 10%;
}

nav > h2:last-of-type{
    margin-right: 20%;
}

nav:has(> .hamburger.clicked){
    background: #4C4747;
    width: 15%;
    height: 100%;
    margin-left: 3%;
}

.hamburger.clicked{
    display: none;
}

.hamburger.clicked + h2, .hamburger.clicked ~ h2:last-of-type,  .hamburger.clicked ~ h1, .hamburger.clicked ~ svg{
    display: none;
}


.left-bar:has(+ .hamburger.clicked)  {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #625D5D;
    margin-left: -20%;
    width: 20%;
    align-items: center;
}

.left-bar > svg{
    height: 35px;
    width: 35px;
}

.left-bar > svg:last-of-type{
    margin-top: 20%;
}