@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: black;
    color: white;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    font-family: "Nixie One", system-ui;
    margin: 0px;
   width: 100%;
}

main > svg{
    
    transform: scale(0.7);
}

.hello{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 30px;

}

.hello > h2{
    margin-top: 0;
    
}

.hello > svg{
    
    transform: scale(0.7);
}

.options{
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.setting{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.setting > h3{
    margin-top: 0;
    font-size: 40px
}

.customize{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.customize > img{
    width: 87.5px;
    height: 87.5px;
}

.customize > h3{
    margin-top: 0;
    font-size: 40px
}



.accessibility{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.accessibility > svg{
    width: 87.5px;
    height: 87.5px;
}

.accessibility > h3{
    margin-top: 0;
    font-size: 40px
}

#language{
    width: fit-content;
}

#gt-mordadam-43217984{
    
    width: fit-content;
    color: white;
}

.gt_switcher-popup.glink.nturl.notranslate > span{
    color: white;
    font-size: 25px;
}

span{
    color: black;
}

.accessibility-options{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.accessibility-options > h3{
    font-size: 40px;
    
}

.accessibility-options > h4{
    font-size: 30px;
    margin-top: 0;
}

li{
    list-style-type: none;
    font-size: 25px;
}

ul{
    
}

