@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: black;
    color: white;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    font-family: "Nixie One", system-ui;
    margin: 0px;
   width: 100%;
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;
}

main > svg{
    align-self: flex-start;
    transform: scale(0.7);
}

.hello{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 30px;

}

.hello > h2{
    margin-top: 0;
    
}

.hello > svg{
    
    transform: scale(0.7);
}


main > h3{
    margin-top: 3%;
    font-size: 30px;
   
}

#language{
    width: fit-content;
}

#gt-mordadam-43217984{
    
    width: fit-content;
    color: white;
    margin-bottom: 2%;
}

.gt_switcher-popup.glink.nturl.notranslate > span{
    color: white;
    font-size: 25px;
    margin-bottom: 3%;
}

span{
    color: black;
    
}

.info-options{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.pfp{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.pfp > h3{
    font-size: 30px;
}

.theme > h3{
    font-size: 30px;
}

input{
    margin-left: 12%;
    align-self: center;
    font-family: "Nixie One", system-ui;
}

i.custom-file-upload{
    background-color: aqua;
}

#originalImage{
    visibility: hidden;
    position: absolute;
    z-index: -100;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 200px;
}

